.navbar-inner {
  background-color: #F6F6F6; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
h1,h3{
color:#E92031
}
.content{
   
    font-weight:bold;
    color:darkblue;
    margin-bottom:2em;
    padding-left:5px;
}
.content>h3 {
margin:0px
}
hr{
	border-top: 1px solid #eee;
}
.black{
    color:black;
}
.grey{
    color:#C9C9C9;
}
.greyContainer {
background-color: #E92031;
margin-top:5px;
}
img.me{
    height:200px;overflow-y:hidden;
    margin-top:5px;
}