.navbar-inner {
  background-color: #F6F6F6; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
h1,h3{
color:#E92031
}
.content{
   
    font-weight:bold;
    color:darkblue;
    margin-bottom:2em;
    padding-left:5px;
}
.content>h3 {
margin:0px
}
hr{
	border-top: 1px solid #eee;
}
.black{
    color:black;
}
.grey{
    color:#C9C9C9;
}
.greyContainer {
background-color: #E92031;
margin-top:5px;

}
img.me{
    height:200px;overflow-y:hidden;
    margin-top:5px;
}
.contentWithTitle{
  font-weight: bold;

}
.contentWithTitle>.title{
  padding-top: 2em;
}


ol.inline-li  { list-style-type:none; }
ol.listwithBack
{

padding: 5px;
}

ol.inline-li  li { display:inline;
                margin-left:10px; }

ol.listwithBack li
{background-color: blue;
font-weight: bold;
color: white;
margin: 1px;
padding: 2px 2px 2px 2px;
border-bottom: 2px;
border: solid;
display: inline-block;
border-color: #E92031;
}
ol.inline-li  li { display:inline;
                margin-left:10px; }

ol.listwithBackGrey li
{
background-color: grey;
font-weight: bold;
color: white;

padding: 2px 2px 2px 2px;
border-bottom: 2px;
border: solid;
display: block;
width: 80%;
background: #E92031 url(https://www.wealthcareadmin.com/participants/images/questionBubble.png) no-repeat top right;
margin: 5px;
}


.aboutme>.header{
  font-weight: bold;
}
.aboutme>.details{

}